container_commands:
  01_migrations:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_superuser:
    command: "source /var/app/venv/*/bin/activate && python manage.py ensure_superuser"
    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mcp_nexus.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"